{% from "../macros/swiperMacro.html" import swiperMacro %}
{% from "../macros/iframeMacro.html" import iframeMacro %}
{% from "../macros/projectLinkMacro.html" import projectLinkMacro %}
{% from "../macros/githubLinkMacro.html" import githubLinkMacro %}

{% macro specificProjectsMacro(projects) %}
<section class="main__section" {% if projects.id %} id="{{projects.id}}" {% endif %}>
    <h2 class="main__title">{{projects.header}}</h2>

    {% for project in projects.projectsArray %}

    <section {% if project.id %} id="{{project.id}}" {% endif %}>
        <h3>{{project.name}}</h3>
        <div class="project-section">
            <div class="project-section__description">
                <div class="project-section__description-section">
                    <h4>Технологии:</h4>
                    <ul class="tech-list">
                        {% for tech in project.techs %}
                        <li class="tech-list__item">
                            <div class="tech-list__item-wrapper">
                                <img src="/src/img/icons/techs/{{tech.imageName}}" alt="{{tech.name}}"
                                    class="tech-icon" />
                                {{tech.name}}
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="project-section__description-section">
                    <h4>Краткое описание:</h4>
                    <p>{{project.description | safe}}</p>
                </div>
            </div>
            {% if project.swiperAssets %}
            {{ swiperMacro(projects.assetsDirName, project.swiperAssetsDirName, project.swiperAssets) }}
            {% endif %}
        </div>

        {% if project.iframeLink %}
        {{ iframeMacro(project.iframeLink) }}
        {% endif %}

        {% if project.projectLink %}
        {{ projectLinkMacro(project.projectLink) }}
        {% endif %}

        {% if project.githubLink %}
        {{ githubLinkMacro(project.githubLink) }}
        {% endif %}
    </section>

    {% endfor %}
</section>
{% endmacro %}
