/* ---------SETUP--------- */

* {
    font-family: "Exo 2", sans-serif;
    box-sizing: border-box;
}

:root {
    font-size: 22px;
    --background-color: #ffffff;
    --color-primary: #000000;
    --color-primary-hovered: #0284c7;
}

body {
    background-color: var(--background-color, #ffffff);
}

/* ---------HEADER--------- */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    margin: 0 1rem;
    border-bottom: 1px solid var(--color-primary, #000000);
    background-color: var(--background-color, #ffffff);
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__menu {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.nav__item {
    display: flex;
    align-items: center;
    position: relative;
    list-style-type: none;
}

.nav__item:not(:last-child):after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 1rem;
    background-color: var(--color-primary);
}

.link {
    color: var(--color-primary, #000000);
    transition: color 0.25s;
}

.link:hover {
    color: var(--color-primary-hovered, #0284c7);
}

.nav__item-link {
    display: inline-block;
    padding: 0.5rem;
    text-decoration: none;
}

/* ---------MAIN--------- */

.link--thin {
    text-decoration-thickness: 1px;
}

.main {
    max-width: 1200px;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
}

.main__title {
    text-align: center;
}

.skills-list {
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

.outer-skills-list {
    align-items: flex-start;
    gap: 1rem;
}

.inner-skills-list {
    border-top: 1px solid var(--color-primary, #000000);
    position: relative;
}

.inner-skills-list:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1rem;
    background-color: var(--color-primary, #000000);
}

.inner-skills-list:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 1rem;
    background-color: var(--color-primary, #000000);
}

.skills-list__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.outer-skills-list__item {
    padding: 0.5rem;
}

.inner-skills-list__item {
    flex-direction: row;
}

.inner-skills-list__item:not(:last-child):after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 1rem;
    background-color: var(--color-primary);
}

.skill-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}

.outer-skill-wrapper:after {
    content: "";
    display: block;
    width: 1px;
    height: 1rem;
    background-color: var(--color-primary, #000000);
}

.inner-skill-wrapper {
    padding: 0.5rem;
}

.skill-wrapper__header {
    margin: 0;
}

.skill-level {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}

.skill-level__item {
    width: 0.6rem;
    height: 0.3rem;
    border: 1px solid var(--color-primary, #000000);
    background-color: var(--background-color, #ffffff);
}

.skill-level__item--enabled {
    background-color: var(--color-primary, #000000);
}
