.item {
    display: flex;
    align-items: center;
    position: relative;
    /* list-style-type: none; */
}

.item:not(:last-child):after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 1rem;
    background-color: var(--color-primary);
}

.link {
    display: inline-block;
    width: 100%;
    padding: 0 0.5rem;
    text-decoration: none;

    color: var(--color-primary);
    transition: 0.25s color;
}

.link:visited {
    color: var(--color-primary);
}

.link:hover {
    color: var(--color-primary-hovered);
}
