.item {
    display: flex;
    align-items: center;
    position: relative;
    /* list-style-type: none; */
}

.item:not(:last-child):after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 1rem;
    background-color: var(--color-primary);
}

.item-link {
    display: inline-block;
    width: 100%;
    padding: 0 0.5rem;
    text-decoration: none;

    color: var(--color-primary);
    transition: var(--duration-s) color;
}

.item-link:visited {
    color: var(--color-primary);
}

.item-link:hover {
    color: var(--color-primary-hovered);
}

@media (max-width: 700px) {
    .item {
        width: 100%;
    }

    .item:not(:last-child) {
        border-bottom: 1px solid var(--color-primary);
    }

    .item:not(:last-child):after {
        display: none;
    }

    .item-link {
        padding: 0.5rem 0;
    }
}
