.link {
    color: var(--color-primary);
    text-decoration-thickness: 1px;

    transition: var(--duration-s) color;
}

.link:visited {
    color: var(--color-primary);
}

.link:hover {
    color: var(--color-primary-hovered);
}
