<section class="main__section" id="fullstack-projects">
    <h2 class="main__title">Full-Stack проекты</h2>
    <section>
        <h3>Автоматизированная информационная система для компьютерного сервисного центра</h3>
        <div class="project-section">
            <div>
                <h4>Технологии:</h4>
                <ul class="tech-list">
                    <li class="tech-list__item">
                        <div class="tech-wrapper">
                            <img src="/src/img/icons/techs/html.svg" alt="HTML" class="tech-icon">
                            HTML
                        </div>
                    </li>
                    <li class="tech-list__item">
                        <div class="tech-wrapper">
                            <img src="/src/img/icons/techs/css.svg" alt="CSS" class="tech-icon">
                            CSS
                        </div>
                    </li>
                    <li class="tech-list__item">
                        <div class="tech-wrapper">
                            <img src="/src/img/icons/techs/bootstrap.svg" alt="Bootstrap" class="tech-icon">
                            Bootstrap
                        </div>
                    </li>
                    <li class="tech-list__item">
                        <div class="tech-wrapper">
                            <img src="/src/img/icons/techs/python.svg" alt="Python" class="tech-icon">
                            Python
                        </div>
                    </li>
                    <li class="tech-list__item">
                        <div class="tech-wrapper">
                            <img src="/src/img/icons/techs/flask.svg" alt="Flask" class="tech-icon">
                            Flask
                        </div>
                    </li>
                    <li class="tech-list__item">
                        <div class="tech-wrapper">
                            <img src="/src/img/icons/techs/mysql.svg" alt="MySQL" class="tech-icon">
                            MySQL
                        </div>
                    </li>
                </ul>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci tempore dolor qui
                    distinctio
                    magnam. Blanditiis corrupti illum doloremque vel possimus fugit, minus commodi dolore
                    architecto
                    perferendis voluptatibus eligendi natus porro dolorem fugiat, suscipit necessitatibus?
                    Delectus
                    error est libero neque vel. Assumenda laudantium ab quo explicabo, libero odio aperiam neque
                    doloribus!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, commodi.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, veniam vel! Laudantium beatae
                    optio porro animi deleniti obcaecati veniam nisi. Sunt soluta exercitationem perspiciatis
                    nobis
                    amet labore voluptates quo non dolor eaque. Voluptatum quod illum blanditiis minima voluptas
                    reiciendis enim?
                </p>
            </div>
            <div class="my-outer-swiper-wrapper">
                <div class="my-middle-swiper-wrapper">
                    <div class="my-swiper-button my-swiper-button-prev">
                        <div class="my-swiper-button__arrow my-swiper-button__prev-arrow"></div>
                    </div>
                    <div class="my-inner-swiper-wrapper">
                        <button class="button button-square my-inner-swiper-wrapper__expand-swiper-button">
                            <svg fill="#000000" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                <line x1='0' y1='100' x2='100' y2='0' stroke='currentColor' stroke-width="1px"
                                    vector-effect="non-scaling-stroke" />
                                <line x1='0' y1='50' x2='0' y2='100' stroke='currentColor' stroke-width="2px"
                                    vector-effect="non-scaling-stroke" />
                                <line x1='0' y1='100' x2='50' y2='100' stroke='currentColor' stroke-width="2px"
                                    vector-effect="non-scaling-stroke" />
                                <line x1='50' y1='0' x2='100' y2='0' stroke='currentColor' stroke-width="2px"
                                    vector-effect="non-scaling-stroke" />
                                <line x1='100' y1='0' x2='100' y2='50' stroke='currentColor' stroke-width="2px"
                                    vector-effect="non-scaling-stroke" />
                            </svg>
                        </button>
                        <div class="swiper my-swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide my-swiper-slide">
                                    <img src="/src/img/projects/fullstack/services-page.png" alt=""
                                        class="my-swiper-slide__img">
                                </div>
                                <div class="swiper-slide my-swiper-slide">
                                    <img src="/src/img/projects/fullstack/orders-page.png" alt=""
                                        class="my-swiper-slide__img">
                                </div>
                                <div class="swiper-slide my-swiper-slide">
                                    <img src="/src/img/projects/fullstack/order-info-page.png" alt=""
                                        class="my-swiper-slide__img">
                                </div>
                                <div class="swiper-slide my-swiper-slide">
                                    <img src="/src/img/projects/fullstack/request-form.png" alt=""
                                        class="my-swiper-slide__img">
                                </div>
                                <div class="swiper-slide my-swiper-slide">
                                    <img src="/src/img/projects/fullstack/add-work-form.png" alt=""
                                        class="my-swiper-slide__img">
                                </div>
                                <div class="swiper-slide my-swiper-slide">
                                    <img src="/src/img/projects/fullstack/login-form.png" alt=""
                                        class="my-swiper-slide__img">
                                </div>
                                <div class="swiper-slide my-swiper-slide">
                                    <img src="/src/img/projects/fullstack/database.png" alt=""
                                        class="my-swiper-slide__img">
                                </div>
                                <div class="swiper-slide my-swiper-slide">
                                    <img src="/src/img/projects/fullstack/client-structure.png" alt=""
                                        class="my-swiper-slide__img">
                                </div>
                                <div class="swiper-slide my-swiper-slide">
                                    <img src="/src/img/projects/fullstack/manager-structure.png" alt=""
                                        class="my-swiper-slide__img">
                                </div>
                                <div class="swiper-slide my-swiper-slide">
                                    <img src="/src/img/projects/fullstack/operator-structure.png" alt=""
                                        class="my-swiper-slide__img">
                                </div>
                                <div class="swiper-slide my-swiper-slide">
                                    <img src="/src/img/projects/fullstack/master-structure.png" alt=""
                                        class="my-swiper-slide__img">
                                </div>
                            </div>
                        </div>
                        <div class="bullet-list swiper__bullet-list"></div>
                    </div>
                    <div class="my-swiper-button my-swiper-button-next">
                        <div class="my-swiper-button__arrow my-swiper-button__next-arrow"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
