<header class="header">
    <nav class="nav">
        <ul class="nav__menu">
            <li class="nav__item"><a class="link nav__item-link" href="#about-me" tabindex="2">Обо мне</a></li>
            <li class="nav__item"><a class="link nav__item-link" href="#frontend-projects">Frontend проекты</a></li>
            <li class="nav__item"><a class="link nav__item-link" href="#fullstack">Другие проекты</a></li>
            <li class="nav__item"><a class="link nav__item-link" href="#footer">Контакты</a></li>
        </ul>
        <button class="button button-square nav__button" tabindex="1">
            <div class="nav__button-line"></div>
            <div class="nav__button-line"></div>
            <div class="nav__button-line"></div>
        </button>
    </nav>
</header>
