<section class="main__section" id="about-me">
    <h2 class="main__title">Обо мне</h2>
    <section>
        <h3>Образование</h3>
        <p>
            В 2021 году окончил Санкт-Петербургский государственный университет аэрокосмического
            приборостроения (СПб ГУАП) по программе бакалавриата:
        </p>

        <ul>
            <li>направление - "Информатика и вычислительная техника"</li>
            <li>профиль - "Автоматизированные системы обработки информации и управления"</li>
        </ul>

        <p>
            В ходе обучения изучал различные <a class="link link--thin" href="#">информационные технологии</a>,
            после чего заинтересовался <a class="link link--thin" href="#">Frontend разработкой</a>.
        </p>
    </section>
    <section>
        <h3>Навыки</h3>
        <ul class="skills-list outer-skills-list">
            <li class="skills-list__item outer-skills-list__item">
                <div class="skill-wrapper outer-skill-wrapper">
                    <div class="tech-wrapper">
                        <img src="/src/img/icons/techs/js.svg" alt="JavaScript" class="tech-icon">
                        <h4 class="skill-wrapper__header">JavaScript</h4>
                    </div>
                    <div class="bullet-list">
                        <div class="bullet-list__item bullet-list__item--active"></div>
                        <div class="bullet-list__item bullet-list__item--active"></div>
                        <div class="bullet-list__item bullet-list__item--active"></div>
                    </div>
                </div>
                <ul class="skills-list inner-skills-list">
                    <li class="skills-list__item inner-skills-list__item">
                        <div class="skill-wrapper inner-skill-wrapper">
                            <img src="/src/img/icons/techs/typescript.svg" alt="TypeScript" class="tech-icon">
                            TypeScript
                            <div class="bullet-list">
                                <div class="bullet-list__item bullet-list__item--active"></div>
                                <div class="bullet-list__item bullet-list__item"></div>
                                <div class="bullet-list__item"></div>
                            </div>
                        </div>
                    </li>
                    <li class="skills-list__item inner-skills-list__item">
                        <div class="skill-wrapper inner-skill-wrapper">
                            <a class="link link--thin" href="#">
                                <img src="/src/img/icons/techs/react.svg" alt="React" class="tech-icon">
                                <div class="text-align-center">
                                    React
                                </div>
                            </a>
                            <div class="bullet-list">
                                <div class="bullet-list__item bullet-list__item--active"></div>
                                <div class="bullet-list__item bullet-list__item--active"></div>
                                <div class="bullet-list__item"></div>
                            </div>
                        </div>
                    </li>
                    <li class="skills-list__item inner-skills-list__item">
                        <div class="skill-wrapper inner-skill-wrapper">
                            <a class="link link--thin" href="#">
                                <img src="/src/img/icons/techs/redux.svg" alt="Redux" class="tech-icon">
                                <div class="text-align-center">
                                    Redux
                                </div>
                            </a>
                            <div class="bullet-list">
                                <div class="bullet-list__item bullet-list__item--active"></div>
                                <div class="bullet-list__item"></div>
                                <div class="bullet-list__item"></div>
                            </div>
                        </div>
                    </li>
                    <li class="skills-list__item inner-skills-list__item">
                        <div class="skill-wrapper inner-skill-wrapper">
                            <a class="link link--thin" href="#">
                                <img src="/src/img/icons/techs/vue.svg" alt="Vue" class="tech-icon">
                                <div class="text-align-center">
                                    Vue
                                </div>
                            </a>
                            <div class="bullet-list">
                                <div class="bullet-list__item bullet-list__item--active"></div>
                                <div class="bullet-list__item bullet-list__item"></div>
                                <div class="bullet-list__item"></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="skills-list__item outer-skills-list__item">
                <div class="skill-wrapper outer-skill-wrapper">
                    <div class="tech-wrapper">
                        <img src="/src/img/icons/techs/c++.svg" alt="C++" class="tech-icon">
                        <h4 class="skill-wrapper__header">C++</h4>
                    </div>
                    <div class="bullet-list">
                        <div class="bullet-list__item bullet-list__item--active"></div>
                        <div class="bullet-list__item bullet-list__item--active"></div>
                        <div class="bullet-list__item"></div>
                    </div>
                </div>
                <ul class="skills-list inner-skills-list">
                    <li class="skills-list__item inner-skills-list__item">
                        <div class="skill-wrapper inner-skill-wrapper">
                            <a class="link link--thin" href="#">
                                <img src="/src/img/icons/techs/qt.svg" alt="Qt" class="tech-icon">
                                <div class="text-align-center">
                                    Qt
                                </div>
                            </a>
                            <div class="bullet-list">
                                <div class="bullet-list__item bullet-list__item--active"></div>
                                <div class="bullet-list__item"></div>
                                <div class="bullet-list__item"></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="skills-list__item outer-skills-list__item">
                <div class="skill-wrapper outer-skill-wrapper">
                    <div class="tech-wrapper">
                        <img src="/src/img/icons/techs/csharp.svg" alt="C#" class="tech-icon">
                        <h4 class="skill-wrapper__header">C#</h4>
                    </div>
                    <div class="bullet-list">
                        <div class="bullet-list__item bullet-list__item--active"></div>
                        <div class="bullet-list__item"></div>
                        <div class="bullet-list__item"></div>
                    </div>
                </div>
                <ul class="skills-list inner-skills-list">
                    <li class="skills-list__item inner-skills-list__item">
                        <div class="skill-wrapper inner-skill-wrapper">
                            <a class="link link--thin" href="#">
                                <img src="/src/img/icons/techs/dotnet.svg" alt="Web Forms" class="tech-icon">
                                <div class="text-align-center">
                                    Web Forms
                                </div>
                            </a>
                            <div class="bullet-list">
                                <div class="bullet-list__item bullet-list__item--active"></div>
                                <div class="bullet-list__item"></div>
                                <div class="bullet-list__item"></div>
                            </div>
                        </div>
                    </li>
                    <li class="skills-list__item inner-skills-list__item">
                        <div class="skill-wrapper inner-skill-wrapper">
                            <a class="link link--thin" href="#">
                                <img src="/src/img/icons/techs/dotnet.svg" alt="Win Forms" class="tech-icon">
                                <div class="text-align-center">
                                    Win Forms
                                </div>
                            </a>
                            <div class="bullet-list">
                                <div class="bullet-list__item bullet-list__item--active"></div>
                                <div class="bullet-list__item"></div>
                                <div class="bullet-list__item"></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="skills-list__item outer-skills-list__item">
                <div class="skill-wrapper outer-skill-wrapper">
                    <div class="tech-wrapper">
                        <img src="/src/img/icons/techs/python.svg" alt="Python" class="tech-icon">
                        <h4 class="skill-wrapper__header">Python</h4>
                    </div>
                    <div class="bullet-list">
                        <div class="bullet-list__item bullet-list__item--active"></div>
                        <div class="bullet-list__item"></div>
                        <div class="bullet-list__item"></div>
                    </div>
                </div>
                <ul class="skills-list inner-skills-list">
                    <li class="skills-list__item inner-skills-list__item">
                        <div class="skill-wrapper inner-skill-wrapper">
                            <a class="link link--thin" href="#">
                                <img src="/src/img/icons/techs/flask.svg" alt="Flask" class="tech-icon">
                                <div class="text-align-center">
                                    Flask
                                </div>
                            </a>
                            <div class="bullet-list">
                                <div class="bullet-list__item bullet-list__item--active"></div>
                                <div class="bullet-list__item bullet-list__item--active"></div>
                                <div class="bullet-list__item"></div>
                            </div>
                        </div>
                    </li>
                    <li class="skills-list__item inner-skills-list__item">
                        <div class="skill-wrapper inner-skill-wrapper">
                            <img src="/src/img/icons/techs/django.svg" alt="Django" class="tech-icon">
                            Django
                            <div class="bullet-list">
                                <div class="bullet-list__item bullet-list__item--active"></div>
                                <div class="bullet-list__item"></div>
                                <div class="bullet-list__item"></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="skills-list__item outer-skills-list__item">
                <div class="skill-wrapper outer-skill-wrapper">
                    <div class="tech-wrapper">
                        <img src="/src/img/icons/techs/other-techs.svg" alt="Другие технологии" class="tech-icon">
                        <h4 class="skill-wrapper__header">Другие технологии</h4>
                    </div>
                </div>
                <ul class="skills-list inner-skills-list">
                    <li class="skills-list__item inner-skills-list__item">
                        <div class="skill-wrapper inner-skill-wrapper">
                            <img src="/src/img/icons/techs/html.svg" alt="HTML" class="tech-icon">
                            HTML
                            <div class="bullet-list">
                                <div class="bullet-list__item bullet-list__item--active"></div>
                                <div class="bullet-list__item bullet-list__item--active"></div>
                                <div class="bullet-list__item"></div>
                            </div>
                        </div>
                    </li>
                    <li class="skills-list__item inner-skills-list__item">
                        <div class="skill-wrapper inner-skill-wrapper">
                            <img src="/src/img/icons/techs/css.svg" alt="CSS" class="tech-icon">
                            CSS
                            <div class="bullet-list">
                                <div class="bullet-list__item bullet-list__item--active"></div>
                                <div class="bullet-list__item bullet-list__item--active"></div>
                                <div class="bullet-list__item"></div>
                            </div>
                        </div>
                    </li>
                    <li class="skills-list__item inner-skills-list__item">
                        <div class="skill-wrapper inner-skill-wrapper inner-skill-wrapper">
                            <img src="/src/img/icons/techs/vite.svg" alt="Vite" class="tech-icon">
                            Vite
                            <div class="bullet-list">
                                <div class="bullet-list__item bullet-list__item--active"></div>
                                <div class="bullet-list__item"></div>
                                <div class="bullet-list__item"></div>
                            </div>
                        </div>
                    </li>
                    <li class="skills-list__item inner-skills-list__item">
                        <div class="skill-wrapper inner-skill-wrapper inner-skill-wrapper">
                            <img src="/src/img/icons/techs/git.svg" alt="Git" class="tech-icon">
                            Git
                            <div class="bullet-list">
                                <div class="bullet-list__item bullet-list__item--active"></div>
                                <div class="bullet-list__item"></div>
                                <div class="bullet-list__item"></div>
                            </div>
                        </div>
                    </li>
                    <li class="skills-list__item inner-skills-list__item">
                        <div class="skill-wrapper inner-skill-wrapper">
                            <img src="/src/img/icons/techs/php.svg" alt="PHP" class="tech-icon">
                            PHP
                            <div class="bullet-list">
                                <div class="bullet-list__item bullet-list__item--active"></div>
                                <div class="bullet-list__item bullet-list__item"></div>
                                <div class="bullet-list__item"></div>
                            </div>
                        </div>
                    </li>
                    <li class="skills-list__item inner-skills-list__item">
                        <div class="skill-wrapper inner-skill-wrapper inner-skill-wrapper">
                            <img src="/src/img/icons/techs/mysql.svg" alt="MySQL" class="tech-icon">
                            MySQL
                            <div class="bullet-list">
                                <div class="bullet-list__item bullet-list__item--active"></div>
                                <div class="bullet-list__item"></div>
                                <div class="bullet-list__item"></div>
                            </div>
                        </div>
                    </li>
                    <li class="skills-list__item inner-skills-list__item">
                        <div class="skill-wrapper inner-skill-wrapper">
                            <img src="/src/img/icons/techs/mssql.svg" alt="MS SQL" class="tech-icon">
                            MS SQL
                            <div class="bullet-list">
                                <div class="bullet-list__item bullet-list__item--active"></div>
                                <div class="bullet-list__item"></div>
                                <div class="bullet-list__item"></div>
                            </div>
                        </div>
                    </li>
                    <li class="skills-list__item inner-skills-list__item">
                        <div class="skill-wrapper inner-skill-wrapper">
                            <img src="/src/img/icons/techs/arduino.svg" alt="Arduino" class="tech-icon">
                            Arduino
                            <div class="bullet-list">
                                <div class="bullet-list__item bullet-list__item--active"></div>
                                <div class="bullet-list__item"></div>
                                <div class="bullet-list__item"></div>
                            </div>
                        </div>
                    </li>
                    <li class="skills-list__item inner-skills-list__item">
                        <a class="link link--thin" href="#">
                            <div class="skill-wrapper inner-skill-wrapper">
                                <img src="/src/img/icons/techs/pic.png" alt="PIC microcontrollers" class="tech-icon">
                                PIC microcontrollers
                                <div class="bullet-list">
                                    <div class="bullet-list__item bullet-list__item--active"></div>
                                    <div class="bullet-list__item bullet-list__item--active"></div>
                                    <div class="bullet-list__item"></div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</section>
