.footer {
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
    border-top: 1px solid var(--border-color);
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.5rem 3rem;
}

.link-flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.35rem;
    max-width: fit-content;
}

.icon {
    width: 1.5rem;
}
